{% macro cards(stores) %}
{% for store in stores %}

<div class="column is-one-quarter">
    <a href="{{url_for('main.restaurants_items', id=store.id)}}">
        <div class="card">

            <div class="card-image">
                {% if not image %}
                <figure class="image is-4by3">
                    <img class="img-responsive" src="https://bulma.io/images/placeholders/1280x960.png">
                </figure>
                {% else %}
                <img class="img-responsive" src="{{url_for('page.upload_file', file=capa_item)}}">
                {% endif %}
            </div>

            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <div class="media-content">
                            <p class="title is-4">{{store.name_store}}</p>
                            <p class="subtitle is-4">{{store.category_id}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </a>
</div>

{% endfor %}
{% endmacro %}