{% macro cards(items, stores) %}

{% for store in stores %}
{% for item in items %}
{% if store.category_id == 'Lanche' %}
{% if item.store_id == store.name_store %}

<div class="column is-one-quarter">
    <a href="{{url_for('main.foods', id=item.id)}}">
        <div class="card">

            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{{url_for('page.upload_file', file=item.id).join(['', '.jpg'])}}" alt="Placeholder image">
                </figure>
            </div>

            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <div class="media-content">
                            <p class="title is-4">{{item.name}}</p>
                            <p class="title is-4">{{item.store_id}}</p>
                            <p class="subtitle is-5"><strong>R$</strong> {{item.price}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </a>
</div>
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% endmacro%}